<configuration>
  <property name="LOG_DIR" value="/sdcard/livesatsang/logs" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- active log file -->
    <file>${LOG_DIR}/log.txt</file>
    
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
	    <appender-ref ref='FILE' />
			<discardingThreshold>0</discardingThreshold>
			<root level='TRACE'>
	    <appender-ref ref='ASYNC' />
			</root>
			<encoder>
      			<!-- <pattern>%logger{35} - %msg%n</pattern>  -->
      			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
 		   </encoder>
		</appender>
	
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover period -->
      <fileNamePattern>${LOG_DIR}/log.%d.txt</fileNamePattern>

      <!-- keep 7 days' worth of history -->
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>1MB</maxFileSize>
    </triggeringPolicy>
  </appender>
  <root level="TRACE">
    <appender-ref ref="FILE" />
  </root>
</configuration>